<h2  style="position: relative; left: 30px;"
class="mt-2">{{requestersName}}</h2>

<mat-icon
  class="cursor mt-4"
  routerLink="../"
  style="position: relative; left: 30px;"
  >arrow_back</mat-icon
>
<div
  class="container"
  style="
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 16px 0px 16px;
  "
  *ngIf="(chartData | json) != '{}' &&(submitData | json) != '{}';else noData"
>
  <div *ngFor="let chart of chartsList">
    <app-requester-detail
      [filterKey]="chart.key"
      [key]="key"
      [chartDetail]="chartData"
      [submitData]="submitData"
      [label]="chart.label"
    ></app-requester-detail>
  </div>
</div>
<ng-template #noData>
  <h2 style="text-align: center;">No Data Found</h2>
</ng-template>
