<ng-container *ngIf="topRequestersList.length > 0; else noRequesters">
  <h2>
    {{ title }}
  </h2>

  <ng-container>
    <div class="d-flex w-100">
      <mat-form-field appearance="outline">
        <mat-label>Day</mat-label>
        <mat-select
          name="selectedDay"
          [(ngModel)]="selectedDay"
          (selectionChange)="prepareTopRequesters()"
        >
          <mat-option [value]="item.id" *ngFor="let item of dayList"
            >{{ item.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;" appearance="outline">
        <mat-label>Hour</mat-label>
        <mat-select
          name="selectedHour"
          [(ngModel)]="selectedHour"
          (selectionChange)="prepareTopRequesters()"
        >
          <mat-option [value]="item.value" *ngFor="let item of hoursList"
            >{{ item.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field
        style="position: relative; margin-left: 20px;"
        appearance="outline"
      >
        <mat-label>Presence Type</mat-label>
        <mat-select
          name="presenceType"
          [(ngModel)]="presenceType"
          (selectionChange)="onTypeChange()"
        >
          <mat-option value="accept">By Accept</mat-option>
          <mat-option value="submit">By Submit</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Name</th>
          <th scope="col">
            {{ metric === "topRequestersByDay" || metric ===
            "topRequestersByHour" || metric === "topRequestersByDayAndHour" ?
            "Accept Percentage" : "Submit Percentage" }}
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of topRequestersList; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ item.requestersName }}</td>
          <td>{{ item.acceptPercentage }}</td>
          <td>
            <a (click)="getRequesterDetail(item)" [queryParams]="{metric}"
              >Requester Detail</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noRequesters>
  <p style="text-align: center;">
    No Requesters Found
  </p>
</ng-template>
