<div style="display: flex;flex-direction: column;" *ngIf="
   
    isShow
  " class="chart-container" [ngClass]="{
    section: key === 'byHour' || key === 'byDayAndHourForAllRequesters'}">
  <div style="display: flex; align-items: flex-start; flex-direction: column;">
    <h2>
      {{ label }}
    </h2>

    <ng-container>
      <div style="display: flex;">
        <mat-form-field *ngIf="
            key === 'topRequestersByDay' ||
            key === 'topRequestersByDayAndHour' ||
            key === 'topRequestersByDayForSubmit' ||
            key === 'topRequestersByDayAndHourForSubmit' ||
            key === 'byDayAndHourForAllRequesters'
          " appearance="outline">
          <mat-label>Day</mat-label>
          <mat-select name="selectedDay" [(ngModel)]="selectedDay" (selectionChange)="onDayChange()">
            <mat-option [value]="item.id" *ngFor="let item of dayList">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-left: 10px;" *ngIf="
            key === 'byDayAndHour' ||
            key === 'topRequestersByHour' ||
            key === 'topRequestersByHourForSubmit' ||
            key === 'topRequestersByDayAndHour' ||
            key === 'topRequestersByDayAndHourForSubmit'
          " appearance="outline">
          <mat-label>Hour</mat-label>
          <mat-select name="selectedHour" [(ngModel)]="selectedHour" (selectionChange)="onHourChange()">
            <mat-option [value]="item.value" *ngFor="let item of hoursList">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="position: relative; margin-left: 20px;" *ngIf="
            key === 'topRequestersByDay' ||
            key === 'topRequestersByHour' ||
            key === 'topRequestersByDayAndHour' ||
            key === 'topRequestersByDayForSubmit' ||
            key === 'topRequestersByHourForSubmit' ||
            key === 'topRequestersByDayAndHourForSubmit'
          " appearance="outline">
          <mat-label>Presence Type</mat-label>
          <mat-select name="presenceType" [(ngModel)]="presenceType" (selectionChange)="onTypeChange()">
            <mat-option value="accept">By Accept</mat-option>
            <mat-option value="submit">By Submit</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <ng-container>
    <canvas *ngIf="acceptData.length > 0" baseChart [datasets]="chartData" [chartType]="chartType"
      [labels]="xAxisLabels" [options]="chartOptions" [legend]="true">
    </canvas>

  </ng-container>
  <ng-container *ngIf="requesterList.length > 0; else noRequesters">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">
              {{ key === "topRequestersByDay" || key === "topRequestersByHour"
              || key === "topRequestersByDayAndHour" ? "Accept Percentage" :
              "Submit Percentage" }}
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of requesterList; let i = index">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ item.requestersName }}</td>
            <td>{{ item.acceptPercentage }}</td>
            <td>
              <a (click)="getRequesterDetail(item)" [queryParams]="{key}">View Chart</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noRequesters>
    <p style="text-align: center;" *ngIf="
        key !== 'byDay' &&
        key !== 'byHour' &&
        key !== 'byDayAndHour' &&
        key !== 'byDayAndHourForAllRequesters'
      ">
      No Requesters Found
    </p>
  </ng-template>
</div>