.chart-container {
  width: 450px;
  margin: 20px auto;
}
a {
  color: #0d6efd !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
.section{
  width: 650px !important;
}
.new-section{
  position: absolute;
    left: 5%;
    top: 10%;
}
