<div
  style="display: block"
  *ngIf="
    selectedFilter === 'requesters-presence' &&
    key !== 'top100RequestersByWageRate' &&
    key !== 'topRequestersByReactions' &&
    isShow
  "
  class="chart-container"
  [ngClass]="{
    section: key === 'byHour' || key === 'byDayAndHourForAllRequesters',
    'new-section':
      selectedFilter === 'requesters-wage' ||
      selectedFilter === 'requesters-reaction',
  }"
>
  <div style="display: flex; align-items: flex-start; flex-direction: column">
    <h2
      *ngIf="
        key !== 'top100RequestersByWageRate' &&
        key !== 'topRequestersByReactions'
      "
    >
      {{ label }}
    </h2>

    <ng-container *ngIf="selectedFilter === 'requesters-presence'">
      <div style="display: flex">
        <mat-form-field
          *ngIf="
            key === 'topRequestersByDay' ||
            key === 'topRequestersByDayAndHour' ||
            key === 'topRequestersByDayForSubmit' ||
            key === 'topRequestersByDayAndHourForSubmit' ||
            key === 'byDayAndHourForAllRequesters'
          "
          appearance="outline"
        >
          <mat-label>Day</mat-label>
          <mat-select
            name="selectedDay"
            [(ngModel)]="selectedDay"
            (selectionChange)="onDayChange()"
          >
            <mat-option [value]="item.id" *ngFor="let item of dayList">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          style="margin-left: 10px"
          *ngIf="
            key === 'byDayAndHour' ||
            key === 'topRequestersByHour' ||
            key === 'topRequestersByHourForSubmit' ||
            key === 'topRequestersByDayAndHour' ||
            key === 'topRequestersByDayAndHourForSubmit'
          "
          appearance="outline"
        >
          <mat-label>Hour</mat-label>
          <mat-select
            name="selectedHour"
            [(ngModel)]="selectedHour"
            (selectionChange)="onHourChange()"
          >
            <mat-option [value]="item.value" *ngFor="let item of hoursList">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          style="position: relative; margin-left: 20px"
          *ngIf="
            key === 'topRequestersByDay' ||
            key === 'topRequestersByHour' ||
            key === 'topRequestersByDayAndHour' ||
            key === 'topRequestersByDayForSubmit' ||
            key === 'topRequestersByHourForSubmit' ||
            key === 'topRequestersByDayAndHourForSubmit'
          "
          appearance="outline"
        >
          <mat-label>Requester Type</mat-label>
          <mat-select
            name="requesterType"
            [(ngModel)]="requesterType"
            (selectionChange)="onTypeChange()"
          >
            <mat-option value="accept">By Accept</mat-option>
            <mat-option value="submit">By Submit</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="selectedFilter === 'requesters-presence'">
    <canvas
      *ngIf="data.length > 0 && key === 'byDay'"
      baseChart
      [datasets]="chartData"
      [chartType]="chartType"
      [labels]="dayChartLabels"
      [options]="chartOptions"
      [legend]="true"
    >
    </canvas>
    <canvas
      *ngIf="data.length > 0 && key === 'byHour'"
      baseChart
      [datasets]="chartData"
      [labels]="hourChartLabels"
      [chartType]="chartType"
      [options]="chartOptions"
      [legend]="true"
    >
    </canvas>
    <canvas
      *ngIf="data.length > 0 && key === 'byDayAndHour'"
      baseChart
      [datasets]="chartData"
      [chartType]="chartType"
      [labels]="dayChartLabels"
      [options]="chartOptions"
      [legend]="true"
    >
    </canvas>
    <canvas
      *ngIf="data.length > 0 && key === 'byDayAndHourForAllRequesters'"
      baseChart
      [datasets]="chartData"
      [chartType]="chartType"
      [labels]="hourChartLabels"
      [options]="chartOptions"
      [legend]="true"
    >
    </canvas>
  </ng-container>
  <ng-container *ngIf="requesterList.length > 0; else noRequesters">
    <div class="table-container">
      <table
        class="table"
        *ngIf="
          key !== 'top100RequestersByWageRate' &&
          key !== 'topRequestersByReactions' &&
          selectedFilter === 'requesters-presence'
        "
      >
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Id</th>
            <th scope="col">
              {{
                key === "topRequestersByDay" ||
                key === "topRequestersByHour" ||
                key === "topRequestersByDayAndHour"
                  ? "Accept Percentage"
                  : "Submit Percentage"
              }}
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of requesterList; let i = index">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ item.requestersName }}</td>
            <td>{{ item.acceptPercentage }}</td>
            <td>
              <a (click)="getRequesterDetail(item)" [queryParams]="{key}"
                >View Chart</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noRequesters>
    <p
      style="text-align: center"
      *ngIf="
        key !== 'byDay' &&
        key !== 'byHour' &&
        key !== 'byDayAndHour' &&
        key !== 'byDayAndHourForAllRequesters'
      "
    >
      No Requesters Found
    </p>
  </ng-template>
</div>
<div
  class="new-section"
  *ngIf="
    selectedFilter !== 'requesters-presence' &&
    key !== 'topRequestersByDay' &&
    key !== 'topRequestersByDayForSubmit' &&
    key !== 'topRequestersByDayAndHour' &&
    key !== 'topRequestersByHourForSubmit' &&
    key !== 'topRequestersByHour' &&
    key !== 'topRequestersByDayAndHourForSubmit' &&
    key !== 'byDayAndHourForAllRequesters' &&
    key !== 'byDay' &&
    key !== 'byHour' &&
    key !== 'byDayAndHour'
  "
>
  <h2
    *ngIf="
      selectedFilter === 'requesters-wage' &&
      key === 'top100RequestersByWageRate'
    "
  >
    {{ label }}
  </h2>
  <h2
    *ngIf="
      selectedFilter === 'requesters-reaction' &&
      key === 'topRequestersByReactions'
    "
  >
    {{ label }}
  </h2>
  <mat-form-field
  *ngIf="
  key === 'topRequestersByReactions' &&
  selectedFilter === 'requesters-reaction'
"

    appearance="outline"
  >
    <mat-label>Reactions</mat-label>
    <mat-select
      name="selectedReaction"
      [(ngModel)]="selectedReaction"
      (selectionChange)="prepareDataForTop100Requesters()"
    >
      <mat-option [value]="item.id" *ngFor="let item of reactionList">{{
        item.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="table-container">
    <table
      class="table"
      *ngIf="
        key === 'top100RequestersByWageRate' &&
        selectedFilter === 'requesters-wage'
      "
    >
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Id</th>
          <th scope="col">Minimum Wage</th>
          <th scope="col">Avergare Wage</th>
          <th scope="col">Maximum Wage</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of requesterList; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.min | number : ".2-2" }}</td>
          <td>{{ item.wageRate | number : ".2-2" }}</td>
          <td>{{ item.max | number : ".2-2" }}</td>
          <td>
            <a
              (click)="getRequesterDetail(item, 'key', 'name')"
              [queryParams]="{key}"
              >View Chart</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <table
      class="table"
      *ngIf="
        key === 'topRequestersByReactions' &&
        selectedFilter === 'requesters-reaction'
      "
    >
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Id</th>
          <th scope="col">Reactions</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of requesterList; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ item.requestersName || "-" }}</td>
          <td>{{ item.summary[selectedReaction] }}</td>
          <td>
            <a
              (click)="getRequesterDetail(item, 'key', 'requestersName')"
              [queryParams]="{key}"
              >View Chart</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
