<div style="padding: 20px 0px 0px 45px;">
  <mat-form-field appearance="outline">
    <mat-label>Selected Filter</mat-label>
    <mat-select name="selectedDay" [(ngModel)]="selectedFilter">
      <mat-option [value]="filter.id" *ngFor="let filter of filters"
        >{{ filter.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div
  class="container"
  style="
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 16px 0px 16px;
  "
  *ngIf="requesterList.length>0"
>
  <div *ngFor="let chart of chartsList" style="flex: 45%;">
    <app-chart
      [selectedFilter]="selectedFilter"
      [key]="chart.key"
      [isShow]="chart.isShow"
      [requesterType]="requesterType"
      [label]="chart.label"
      [employeersList]="requesterList"
    >

    </app-chart>
  </div>
</div>
