<div style="display: flex; justify-content: center; margin: 16px 0px;">
  <mat-form-field appearance="outline" class="w-50">
    <mat-label>Requester Analysis</mat-label>
    <mat-select
      name="selectedDay"
      [(ngModel)]="selectedFilter"
      (selectionChange)="addFragmentToUrl()"
    >
      <mat-option [value]="filter.id" *ngFor="let filter of filters"
        >{{ filter.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div class="container parent-container" *ngIf="selectedFilter=='by-presence'">
  <app-requesters-presence
    [requesterIDToNameMapping]="requesterIDToNameMapping"
  >
  </app-requesters-presence>
</div>
<app-requesters-wage-rate
  *ngIf="selectedFilter==='by-wage-rate'"
>
</app-requesters-wage-rate>

<app-requesters-reactions
  *ngIf="selectedFilter==='by-reaction'"
  [requesterIDToNameMapping]="requesterIDToNameMapping"
>
</app-requesters-reactions>
