<div
  style="display: block;"
  class="chart-container"
  [ngStyle]="filterKey==='top10RequestersByHour'&&{'width':'700px'}"
>
  <div style="display: flex; flex-direction: column;">
    <h2>{{label}}</h2>
    <div style="display: flex;">
      <mat-form-field
        *ngIf="filterKey ==='top10RequestersByDayAndHour'"
        appearance="outline"
        style="margin-left: 20px;"
      >
        <mat-label>Day</mat-label>
        <mat-select
          name="selectedDay"
          [(ngModel)]="selectedDay"
          (selectionChange)="prepareChartData()"
        >
          <mat-option [value]="item.id" *ngFor="let item of dayList"
            >{{ item.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        *ngIf="filterKey ==='top10RequestersByDayAndHour'"
        style="margin-left: 20px;"
      >
        <mat-label>Hour</mat-label>
        <mat-select
          name="selectedHour"
          [(ngModel)]="selectedHour"
          (selectionChange)="prepareChartData()"
        >
          <mat-option [value]="item.value" *ngFor="let item of hoursList"
            >{{ item.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <canvas
    *ngIf="chartDetail && filterKey === 'top10RequestersByDay'"
    baseChart
    [datasets]="chartData"
    [labels]="dayChartLabels"
    [chartType]="chartType"
    [options]="chartOptions"
    [plugins]="barChartPlugins"
    [legend]="chartLegend"
  >
  </canvas>
  <canvas
    *ngIf="chartDetail && filterKey === 'top10RequestersByHour'"
    baseChart
    [datasets]="chartData"
    [labels]="hourChartLabels"
    [options]="chartOptions"
    [plugins]="barChartPlugins"
    [chartType]="chartType"
    [legend]="chartLegend"
  >
  </canvas>
  <canvas
    *ngIf="chartDetail && filterKey === 'top10RequestersByDayAndHour'"
    baseChart
    [datasets]="chartData"
    [labels]="dayChartLabels"
    [options]="chartOptions"
    [plugins]="barChartPlugins"
    [chartType]="chartType"
    [legend]="chartLegend"
  >
  </canvas>
</div>
