.chart-container {
  margin: 20px auto;
}
.chart{
  width: 450px;
}

.common-margin{
  position: relative;
  left: 250px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
.section{
  width: 650px !important;
}
.new-section{
  position: absolute; left: 3%;
}
