<div
  style="display: flex; flex-direction: column;"
  class="chart-container"
  [ngStyle]=" { width: width }
  "
>
  <div class="d-flex align-items-center flex-column">
    <h2>
      {{ title }}
    </h2>

    <ng-container>
      <div class="d-flex w-100">
        <mat-form-field
          *ngIf="metric === 'byDayAndHourForAllRequesters'"
          appearance="outline"
        >
          <mat-label>Day</mat-label>
          <mat-select
            name="selectedDay"
            [(ngModel)]="selectedDay"
            (selectionChange)="prepareChart()"
          >
            <mat-option [value]="item.id" *ngFor="let item of dayList"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field
          style="margin-left: 10px;"
          *ngIf="metric === 'byDayAndHour'"
          appearance="outline"
        >
          <mat-label>Hour</mat-label>
          <mat-select
            name="selectedHour"
            [(ngModel)]="selectedHour"
            (selectionChange)="prepareChart()"
          >
            <mat-option [value]="item.value" *ngFor="let item of hoursList"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <ng-container>
    <canvas
      *ngIf="acceptData.length > 0"
      baseChart
      [datasets]="chartData"
      [chartType]="chartType"
      [labels]="xAxisLabels"
      [options]="chartOptions"
      [legend]="true"
    >
    </canvas>
  </ng-container>
</div>
